<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.quart"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="14"
        android:targetSdkVersion="17" />

    <uses-permission android:name="android.permission.INTERNET"></uses-permission>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"></uses-permission>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"></uses-permission>
    
    <uses-feature android:name="android.software.live_wallpaper" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >

        <service
            android:name="com.example.quart.RefreshingWallpaper"
            android:label="@string/wallpaper_refreshing"
            android:permission="android.permission.BIND_WALLPAPER" >
            <intent-filter>
                <action android:name="android.service.wallpaper.WallpaperService" />
            </intent-filter>

            <meta-data
                android:name="android.service.wallpaper"
                android:resource="@xml/refreshing_wallpaper" />
        </service>

        <activity
            android:name="com.example.quart.PreferencesActivity"
            android:label="@string/app_name"
            android:exported="true" >
            
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            <intent-filter>
            	<action android:name="android.intent.action.SEND" />
            	<category android:name="android.intent.category.DEFAULT" />
            	<data android:mimeType="application/*" />
            	<data android:mimeType="audio/*" />
            	<data android:mimeType="image/*" />
            	<data android:mimeType="message/*" />
            	<data android:mimeType="multipart/*" />
            	<data android:mimeType="text/*" />
            	<data android:mimeType="video/*" />
            </intent-filter>
        </activity>
    </application>

</manifest>
